/* Basic style information*/

.text-centered{
    width: 100%;
    text-align: center;
}

.redeemed{
    width: 100%;
    font-weight: bold;
    font-size: 120%;
    color: maroon;
    text-align: center;
    margin-top: 10px;
}

.expired{
  background: #E18B6B;
}

.completed{
  background: #ADD8E6;
}

.info{
    font-size: 130%;
    font-weight: bold;
}
.hidden{
    display: none;
}